---
import Head_data from "../data/topics.json"
import MainLayout from "../layouts/main_layout.astro";
---

<MainLayout title = {Head_data.Titles[5]}>
	<main slot = "information">
		<header>About page</header>
	</main>
</MainLayout>