---
import Topic from "../data/topics.json";
import MainLayout from "../layouts/main_layout.astro";
import SectionElement from "../components/SectionElement.astro";
import VerticalSection from "../components/VerticalSection.astro"

---

<MainLayout>
	<main class = "Section-con">
		<SectionElement title = "Limits" direction = "left">
			<section>
				Information Placeholder
			</section>
		</SectionElement>

		<SectionElement title = "Continuity" direction = "left">
			<section>
				Information Placeholder
			</section>
		</SectionElement>

		<SectionElement title = "Slope of a Tangent Line" direction = "left">
			<section>
				Information Placeholder
			</section>
		</SectionElement>

		<SectionElement title = "Differentiation Rules of Algebraic Expressions" direction = "left">
			<section>
				Information Placeholder
			</section>
		</SectionElement>

		<SectionElement title = "Chain Rule and Implicit Differentiation" direction = "left">
			<section>
				Information Placeholder
			</section>
		</SectionElement>

		<SectionElement title = "What is Calculus?" direction = "left">
			<section>
				Information Placeholder
			</section>
		</SectionElement>

		<VerticalSection title="Title">
			<section>
				yes yes
				<br>
				hahahaha
			</section>
		</VerticalSection>

	</main>
</MainLayout>

<style>
	.Section-con {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		
		gap: 0.5rem;
		justify-content: center; 
	}
</style>