---
const {direction, title} = Astro.props;

---

<main class = "Info_Section" style={`
    --direction: ${direction};
`}>
    <img class = "Info_bg" src ="/Scaleculus/background/iso-republic-milky-way-detail.jpg" alt="">

    
    <section class = "Info">
        <header>
            <img src="/Scaleculus/icons/arrow-right.png" alt="arrow icon" class = "Title-Icon" />
            <span class="Title-Text">{title}</span>
        </header>

        <slot />
    </section>
</main>

<style>
    {
    --wisteria: #BEADDCff;
    --shadow-grey: #141527ff;
    --petal-frost: #F7D3EBff;
    --thistle: #D7BCE4ff;
    --wisteria-2: #C493DAff;
    --amethyst-smoke: #C18EC7ff;
    --snow: #F8EEEDff;
    }

    .Info_Section{
        position: relative;
        overflow: auto;

        border: 0.5rem solid var(--petal-frost);
        border-radius: 0.2rem;

        height: 30rem;
        width: 15rem;

        margin: 1rem;

        box-shadow: 0 0 0.5rem 0.1rem var(--petal-frost);
        transition: box-shadow 0.5s
    }

    .Info_Section:hover{
        box-shadow: 0 0 0.9rem 0.5rem var(--petal-frost);
    }

    .Info_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        
        opacity: 0.5;

        object-fit: cover;

        filter: blur(5px);

        -webkit-mask-image: linear-gradient(to top, black 75%, transparent 50%);
        mask-image: linear-gradient(to top, black 5%, transparent 75%);
        
        z-index: 1;
    }   

    header {
        position: relative;
        display: flex;
        align-items: center;        
        gap: 0.5rem; 

        color: var(--snow);
        font-family: "Quicksand", sans-serif;
        font-size: 1.5rem;
        font-weight: 1000;

        text-align: var(--direction);

        z-index: 2;
    }
    
    .Title-Icon {
        width: 1.2rem;
        filter: invert(1); 
    }

    .Info {
        position: relative;

        color: var(--snow);
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: 1rem;

        padding: 1rem;
        text-align: var(--direction);

        white-space: normal;          
        overflow-wrap: break-word;   
        word-break: break-word;       

        z-index: 2;
    }

    
</style>