---
import Topics from "../data/topics.json";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import ColorPalette from "../color_p/color_style1.json";

import "../styles/style1.css";

const {title = "Scaleculus! | Calculus Learning Platform"} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/Scaleculus/logo/favicon.svg" />
        
	    <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fugaz+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">


    </head>
    
	<body>
        <Header></Header>
       <slot />
	</body>
</html>

<style>
    
</style>