---
import Link from "../components/Link_element.astro";

const {title = "Scaleculus! | Calculus Learning Platform"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>{title}</title>
    </head>
    
	<body>
        <nav>
            <Link href = "/Scaleculus">Home</Link>
            <Link href = "/Scaleculus/CalculusIntro">What is Calculus</Link>
            <Link href = "/Scaleculus/CalculusIntro">Limits</Link>
            <Link href = "/Scaleculus/CalculusIntro">Continuity</Link>
            <Link href = "/Scaleculus/CalculusIntro">Slope of a Tangent Line</Link>
            <Link href = "/Scaleculus/CalculusIntro">Differentiation Rules of Algebraic Expressions</Link>
            <Link href = "/Scaleculus/CalculusIntro">Chain Rule and Implicit Differentiation</Link>
        </nav>

        <main>
            <slot name = "information"/>
            
        </main>
	</body>
</html>
